*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg{
  background-image: url("https://i.pinimg.com/originals/94/2a/21/942a21f55fbe7d4e7b8a783670b23e95.jpg");
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  
  
  
}
li{
  list-style-type: none;
  color: azure;
}

a{
  text-decoration: none;
}
.nav-first{
  display: flex;
  justify-content: space-around;
  min-height: 30vh;
  align-items:;
  font-family:initial;
  background-color:cyan;
}
nav{
  display:flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: inter;
  background-color:rgb(206, 127, 230);
}
nav .logo{
  font-size: 50px;
  font-weight: 600;
  text-transform:uppercase;
 text-align-last: left;
 
}
nav .nav-links{
  display: flex;
  justify-content: space-around;
  width: 80%;
  
 
}
nav .nav-links a{
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}
nav .nav-links a:hover {
  border-bottom: 1 px white;
}
nav .burger i {
  font-size: 28px;
  display: none;
}

li .active_class {
  color: blue;
  border-bottom: 1px solid red;

}
