.app{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-weight: bold;
    color: #02706B;
    font-size: 40px;
}
.icon_class>.MuiSvgIcon-root{
    color: #02706B;
}
.row{  
      align-content: center;
    
}
.text-center{
    align-items: center;
}
.con{
    margin: 1px;
    padding: 1px;
    background-color:rgb(230, 217, 226);
}
